@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

:root {
  --main-color: rgb(201, 176, 176);
  --rgba-status: rgba(83, 83, 83, 0.2);
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins;
  background: linear-gradient(
    94deg,
    rgb(238, 191, 191),
    rgb(136, 61, 61)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-status {
  width: 16rem;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  margin-top: 30px;
}

.status-info {
  background: var(--rgba-status);
  backdrop-filter: blur(10px);
  display: flex;
  text-align: center;
  padding: 5px;
  border-radius: 8px;
}

#currentPlayerStatus {
  font-size: 18px;
  color: rgb(41, 10, 10);
  margin: 0;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 10px;
  margin: 30px;
}

.game-cell {
  width: 100px;
  height: 100px;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  border-radius: 10%;
  cursor: pointer;
  color: rgb(41, 10, 10);
  transition: all 1s ease;
}

.game-cell:hover {
  background: var(--rgba-status);
}

.rest {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--rgba-status);
  border-radius: 10%;
}

#resetButton {
  font-size: 20px;
  color: rgb(41, 10, 10);
  background: transparent;
  border: none;
  margin: 0;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#resetButton:hover {
  transform: rotate(20deg);
}